<br><br><br><br>
<h1 class="title-pages" >{{category.name}}</h1>

<section id="new-news" style="display: none;">
  <div class="ctn-newnews">

    <div class="central-news">

      <div class="leader-new new-mini">
        <a href="" class="">
          <div class="img-t1">
            <img src="https://media.cnn.com/api/v1/images/stellar/prod/gettyimages-2074319056.jpg?q=w_2000,c_fill/f_webp" alt="">
          </div>
          <p class="cn-title chicken-s">
            Best red carpet looks at the 2024 Oscars
          </p>
        </a>
      </div>

      <div class="top-d">
        <a href="">
          <p class="cn-mini-title chicken-s">‘They’re quite like us’: Scientists reveal groundbreaking finding on Stone Age piercings — and who wore them
          </p>
        </a>
      </div>

      <div class="top-d">
        <a href="">
          <p class="cn-mini-title chicken-s">Hong Kong plumber’s Olympic breakdancing dream goes down the toilet
          </p>
        </a>
      </div>

      <div class="top-d">
        <a href="">
          <p class="cn-mini-title chicken-s">Hong Kong plumber’s Olympic breakdancing dream goes down the toilet
          </p>
        </a>
      </div>

      <div class="top-d">
        <a href="">
          <p class="cn-mini-title chicken-s">Hong Kong plumber’s Olympic breakdancing dream goes down the toilet
          </p>
        </a>
      </div>

      <div class="top-d">
        <a href="">
          <p class="cn-mini-title chicken-s">Hong Kong plumber’s Olympic breakdancing dream goes down the toilet
          </p>
        </a>
      </div>
    </div>

    <div class="left-news">
      <div class="cv-t-er">
        <div class="red-td"></div>
        <h2 class="tt-bb">Congress</h2>
      </div>

      <div class="leader-new new-mini">
        <a href="" class="">
          <div class="img-t1">
            <img src="https://media.cnn.com/api/v1/images/stellar/prod/gettyimages-2074319056.jpg?q=w_2000,c_fill/f_webp" alt="">
          </div>
          <p class="cn-title chicken-s">
            Best red carpet looks at the 2024 Oscars
          </p>
        </a>
      </div>

      <div class="top-d">
        <a href="">
          <p class="cn-mini-title chicken-s">Do you have insomnia? Let’s get back to sleep
          </p>
        </a>
      </div>

      <div class="top-d">
        <a href="">

          <p class="cn-mini-title chicken-s">Do you have insomnia? Let’s get back to sleep
          </p>
        </a>
      </div>

      <div class="top-d">
        <a href="">
          <p class="cn-mini-title chicken-s">Do you have insomnia? Let’s get back to sleep
          </p>
        </a>
      </div>

      <div class="top-d">
        <a href="">
          <p class="cn-mini-title chicken-s">Do you have insomnia? Let’s get back to sleep
          </p>
        </a>
      </div>

      <div class="top-d">
        <a href="">
          <p class="cn-mini-title chicken-s">Do you have insomnia? Let’s get back to sleep
          </p>
        </a>
      </div>

      <div class="top-d">
        <a href="">
          <p class="cn-mini-title chicken-s">Do you have insomnia? Let’s get back to sleep
          </p>
        </a>
      </div>

      <div class="top-d">
        <a href="">
          <p class="cn-mini-title chicken-s">Do you have insomnia? Let’s get back to sleep
          </p>
        </a>
      </div>

    </div>

    <div class="right-news">
      <div class="cv-t-er">
        <div class="red-td"></div>
        <h2 class="tt-bb">Congress</h2>
      </div>


      <div class="leader-new new-mini">
        <a href="" class="">
          <div class="img-t1">
            <img src="https://media.cnn.com/api/v1/images/stellar/prod/gettyimages-2074319056.jpg?q=w_2000,c_fill/f_webp" alt="">
          </div>
          <p class="cn-title chicken-s">
            Best red carpet looks at the 2024 Oscars
          </p>
        </a>
      </div>

      <div class="top-d">
        <a href="">
          <p class="cn-mini-title chicken-s">Do you have insomnia? Let’s get back to sleep
          </p>
        </a>
      </div>

      <div class="top-d">
        <a href="">
          <p class="cn-mini-title chicken-s">Do you have insomnia? Let’s get back to sleep
          </p>
        </a>
      </div>

      <div class="top-d">
        <a href="">
          <p class="cn-mini-title chicken-s">Do you have insomnia? Let’s get back to sleep
          </p>
        </a>
      </div>

      <div class="top-d">
        <a href="">
          <p class="cn-mini-title chicken-s">Do you have insomnia? Let’s get back to sleep
          </p>
        </a>
      </div>

      <div class="top-d">
        <a href="">
          <p class="cn-mini-title chicken-s">Do you have insomnia? Let’s get back to sleep
          </p>
        </a>
      </div>

      <div class="top-d">
        <a href="">
          <p class="cn-mini-title chicken-s">Do you have insomnia? Let’s get back to sleep
          </p>
        </a>
      </div>

      <div class="top-d">
        <a href="">
          <p class="cn-mini-title chicken-s">Do you have insomnia? Let’s get back to sleep
          </p>
        </a>
      </div>

    </div>
  </div>

</section>

<ng-container *ngFor="let subcategory of category.subcategories">
  <section *ngIf="articles[subcategory._id] && articles[subcategory._id].length > 0">

    <div class="cy-s">
      <div class="d-147">
        <h2 class="title-big">{{subcategory.name}}</h2>
        <i class="fas fa-arrow-right" ></i>
      </div>

      <div class="ctn-navbar" >

        <div class="items-hhh" *ngFor="let article of articles[subcategory._id]">
          <a routerLink="/post/{{article._id}}" class="a-bs0io">
            <div class="img-tn-s">
              <img src="{{article.img}}" alt="">
            </div>
            <p class="cn-title chicken-s">
              {{article.title}}
            </p>
          </a>
        </div>

        <!-- <div class="items-hhh">
          <a href="" class="a-bs0io">
            <div class="img-tn-s">
              <img src="https://media.cnn.com/api/v1/images/stellar/prod/gettyimages-2074319056.jpg?q=w_2000,c_fill/f_webp" alt="">
            </div>
            <p class="cn-title chicken-s">
              Best red carpet looks at the 2024 Oscars
            </p>
          </a>
        </div>

        <div class="items-hhh">
          <a href="" class="a-bs0io">
            <div class="img-tn-s">
              <img src="https://media.cnn.com/api/v1/images/stellar/prod/gettyimages-2074319056.jpg?q=w_2000,c_fill/f_webp" alt="">
            </div>
            <p class="cn-title chicken-s">
              Best red carpet looks at the 2024 Oscars
            </p>
          </a>
        </div>

        <div class="items-hhh">
          <a href="" class="a-bs0io">
            <div class="img-tn-s">
              <img src="https://media.cnn.com/api/v1/images/stellar/prod/gettyimages-2074319056.jpg?q=w_2000,c_fill/f_webp" alt="">
            </div>
            <p class="cn-title chicken-s">
              Best red carpet looks at the 2024 Oscars
            </p>
          </a>
        </div> -->

      </div>
    </div>

  </section>
</ng-container>

<!-- <section>
  <div class="cy-s">
    <div class="d-147">
      <h2 class="title-big">Facts First</h2>
      <i class="fas fa-arrow-right"></i>
    </div>

    <div class="ctn-navbar">

      <div class="items-hhh">
        <a href="" class="a-bs0io">
          <div class="img-tn-s">
            <img src="https://media.cnn.com/api/v1/images/stellar/prod/gettyimages-2074319056.jpg?q=w_2000,c_fill/f_webp" alt="">
          </div>
          <p class="cn-title chicken-s">
            Best red carpet looks at the 2024 Oscars
          </p>
        </a>
      </div>

      <div class="items-hhh">
        <a href="" class="a-bs0io">
          <div class="img-tn-s">
            <img src="https://media.cnn.com/api/v1/images/stellar/prod/gettyimages-2074319056.jpg?q=w_2000,c_fill/f_webp" alt="">
          </div>
          <p class="cn-title chicken-s">
            Best red carpet looks at the 2024 Oscars
          </p>
        </a>
      </div>

      <div class="items-hhh">
        <a href="" class="a-bs0io">
          <div class="img-tn-s">
            <img src="https://media.cnn.com/api/v1/images/stellar/prod/gettyimages-2074319056.jpg?q=w_2000,c_fill/f_webp" alt="">
          </div>
          <p class="cn-title chicken-s">
            Best red carpet looks at the 2024 Oscars
          </p>
        </a>
      </div>

      <div class="items-hhh">
        <a href="" class="a-bs0io">
          <div class="img-tn-s">
            <img src="https://media.cnn.com/api/v1/images/stellar/prod/gettyimages-2074319056.jpg?q=w_2000,c_fill/f_webp" alt="">
          </div>
          <p class="cn-title chicken-s">
            Best red carpet looks at the 2024 Oscars
          </p>
        </a>
      </div>

    </div>
  </div>
</section> -->


