<div class="right-news">
  <div class="cv-t-er">
    <div class="red-td"></div>
    <h2 class="tt-bb">You might be interested</h2>
  </div>

  <div class="leader-new new-mini">
    <a href="" class="a-bj">
      <div class="img-t1">
        <img src="https://media.cnn.com/api/v1/images/stellar/prod/gettyimages-2074319056.jpg?q=w_2000,c_fill/f_webp" alt="">
      </div>
      <p class="cn-title chicken-s">
        Best red carpet looks at the 2024 Oscars
      </p>
    </a>
  </div>

  <div class="leader-new new-mini">
    <a href="" class="a-bj">
      <div class="img-t1">
        <img src="https://media.cnn.com/api/v1/images/stellar/prod/gettyimages-2074319056.jpg?q=w_2000,c_fill/f_webp" alt="">
      </div>
      <p class="cn-title chicken-s">
        Best red carpet looks at the 2024 Oscars
      </p>
    </a>
  </div>

  <div class="leader-new new-mini">
    <a href="" class="a-bj">
      <div class="img-t1">
        <img src="https://media.cnn.com/api/v1/images/stellar/prod/gettyimages-2074319056.jpg?q=w_2000,c_fill/f_webp" alt="">
      </div>
      <p class="cn-title chicken-s">
        Best red carpet looks at the 2024 Oscars
      </p>
    </a>
  </div>

  <div class="leader-new new-mini">
    <a href="" class="a-bj">
      <div class="img-t1">
        <img src="https://media.cnn.com/api/v1/images/stellar/prod/gettyimages-2074319056.jpg?q=w_2000,c_fill/f_webp" alt="">
      </div>
      <p class="cn-title chicken-s">
        Best red carpet looks at the 2024 Oscars
      </p>
    </a>
  </div>

  <div class="leader-new new-mini">
    <a href="" class="a-bj">
      <div class="img-t1">
        <img src="https://media.cnn.com/api/v1/images/stellar/prod/gettyimages-2074319056.jpg?q=w_2000,c_fill/f_webp" alt="">
      </div>
      <p class="cn-title chicken-s">
        Best red carpet looks at the 2024 Oscars
      </p>
    </a>
  </div>

</div>
